{{ partial "header" . }}
<section>
  <h2>Node.js in Practice</h2>
  <h5>Alex Young and Marc Harter. Foreword By Ben Noordhuis</h5>
  <p>Node.js in Practice is a collection of fully tested examples that offer solutions to the common and not-so-common issues you face when you roll out Node. You'll dig into important topics like the ins and outs of event-based programming, how and why to use closures, how to structure applications to take advantage of end-to-end JavaScript apps, and more.</p>
  <p><a href="https://www.manning.com/books/node-js-in-practice">Read more.</a></p>

  <h2>Node.js in Action</h2>
  <h5>Mike Cantelon, Marc Harter, T.J. Holowaychuk, and Nathan Rajlich. Foreword by Isaac Z. Schlueter</h5>
  <p>Node.js in Action is an example-driven tutorial that starts at square one and guides you through all the features, techniques, and concepts you'll need to build production-quality Node applications. You'll start by learning how to set up your Node development environment, including loading the community-created extensions. Next, you'll run several simple demonstration programs where you'll learn the basics of a few common types of Node applications. Then you'll dive into asynchronous programming, a model Node leverages to lessen application bottlenecks.</p>
  <p><a href="https://www.manning.com/books/node-js-in-action">Read more.</a></p>
</section>
{{ partial "footer" . }}
