<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link href="/css/theme.css" rel="stylesheet" type="text/css" />
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body class="container">
<header>
  <a href="/"><img src="/img/logo.svg" height=100 alt="mod" class="float-left" /></a>
  <h1>Andrew.</h1>
  <div class="float-right">
    <a href="https://twitter.com/wavded">
      <img src="/img/twitter.svg" height=20 />
    </a>
    <a href="https://github.com/wavded">
      <img src="/img/github.svg" height=20 />
    </a>
    <a href="https://www.linkedin.com/in/wavded">
      <img src="/img/linkedin.svg" height=20 />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="">Books</a></li>
      <li><a href="">Projects</a></li>
    </ul>
  </nav>
  <hr/>
</header>
