<table class="shortbio">
  <tr>
    <td>
      <img src="/img/profile.jpg" width=100>
    </td>
    <td>
      Marc is the co-author of <a href="https://www.manning.com/books/node-js-in-action-second-edition">Node.js in Action</a> and <a href="https://www.manning.com/books/node-js-in-practice">Node.js in Practice</a>. He writes here and for <a href="https://strongloop.com">@strongloop</a>. Works as a full-stack engineer for <a href="http://applieddataconsultants.com">@applieddataconsultants</a>.
    </td>
  </tr>
</table>
